- content_for :header do
  .header{"data-role" => :header, "data-position" => :fixed}
    %h1 My Contacts

#new_invite
  = link_to 'Invite a friend', new_invitation_path, "data-role" => :button, "data-icon" => "arrow-r", "data-iconpos" => :right

- unless current_friend.contacts.empty?
  #contacts
    %h3 Select a friend to challenge
    - current_friend.contacts.each do |contact|
      = link_to "#{contact.name} (#{contact.email})", new_challenge_path(:recipient_id => contact.hashed_id), "data-role" => :button
