- title 'My Contacts'
- contact_links = current_friend.contacts.map{|c| link_to "#{c.name} (#{c.email})", new_challenge_path(:recipient_id => c.hashed_id)}

- if contact_links.empty?
  %p
    %em You don't have any registered friends just yet...
  %p
    = link_to 'Invite a friend', new_invitation_path
- else
  %ul
    - contact_links.each do |link|
      %li= link
