body {
  background-color: #73d86c;
  background-image: url('/images/background.png');
  background-repeat: no-repeat;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px; }

a {
  color: #0000FF; }
  a img {
    border: none; }

input:focus, textarea:focus {
  background-color: #ffc;
  border: 1px solid green;
  font-weight: bold; }

input, textarea {
  padding: 2px;
  border: 1px solid black; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

.boat {
  width: 100%;
  overflow: auto; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.pad-right {
  padding-right: 1em; }

.pad-left {
  padding-left: 1em; }

.pad-top {
  padding-top: 1em; }

.pad-bottom {
  padding-bottom: 1em; }

.align-right {
  text-align: right; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

#navigation {
  font-size: .9em; }

.disabled {
  color: #ccc; }

#login_form {
  font-size: .8em;
  margin-left: 400px; }

#container {
  width: 1060px;
  margin: 80px 60px;
  background: #fff;
  padding: 0; }

#footer {
  font-size: .75em; }
  #footer a {
    color: #999; }

#flash_notice,
#flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #CFC;
  border: solid 1px #0ED800; }

#flash_error {
  background-color: #EDB1B8;
  border: solid 1px #ED001B; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #ED001B;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #EDB1B8; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #c00;
    color: #fff; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }
