- if logged_in?
  = link_to_unless_current 'My Challenges', challenges_path, "data-role" => :button, "data-theme" => :e
- if @challenge
  = link_to_unless_current 'Challenge', @challenge, "data-role" => :button
