.boat{:style => "width: 30%"}
  .float-left{:style => "width: 33%"}
    = link_to 'terms of use', '/terms.html'
  .float-left{:style => "width: 33%"}
    = link_to image_tag('mobile_phone_icon.png'), toggle_mobile_path, :alt => 'Friendly bets on your mobile!'
  .float-left{:style => "width: 33%"}
    = link_to image_tag('twitter.jpg', :style => "height: 16px; width: 16px"), "http://twitter.com/shouldbet", :alt => 'Follow us on Twitter', :target => "_blank"
