.boat{:style => "padding-left: 33%; width: 33%"}
  .float-left{:style => "width: 33%"}
    = link_to 'terms of use', '/terms.html'
  .float-left{:style => "width: 33%"}
    = link_to image_tag('mobile_phone_icon.png', :alt => 'Friendly bets on your mobile device!'), toggle_mobile_path
  .float-left{:style => "width: 33%"}
    = link_to image_tag("http://twitter-badges.s3.amazonaws.com/t_mini-b.png", :alt => "Follow shouldbet on Twitter"), "http://www.twitter.com/shouldbet", :target => "_blank"
