.float-left
  = image_tag 'shouldbet_logo.png', :alt => 'friendly bet, bet friends'
  
%p
  == ... bet your friends to a creative, fun challenge, and tell the world when you win! #{AppConfig[:title]} is a fun, simple application that interacts with your Twitter account (or not, if you prefer) to create and record friendly bets. Imagine challenging your colleague at work, or your best friend, to predict who will win the big football game this weekend. Or maybe you challenge a friend to a fitness challenge, like, who can do the most pushups! #{AppConfig[:title]} lets you record the progress of the challenge, post fun-loving updates to Twitter, and generally "talk smack" to your buddy. And when you ultimately win the challenge, you can scream it to the whole world!!
