.float-left
  = image_tag 'shouldbet_logo.png', :alt => 'fitness challenge, friendly bet, weight loss challenge'
  
%p
  == ... challenge your friends to a fitness or weight loss challenge, and tell the world when you win! #{AppConfig[:title]} is a fun, simple application that interacts with your Twitter account (or not, if you prefer) to create and track friendly bets. Imagine challenging your colleague at work, or your best friend, to predict who will win the big football game this weekend. Or maybe you challenge a friend to a fitness challenge, like, who can do the most pushups! #{AppConfig[:title]} lets you track the progress of the challenge, post fun-loving updates to Twitter, and generally "talk smack" to your buddy. And when you ultimately win the challenge, you can scream it to the whole world!!
