- unless f.error_messages.empty?
  .info
    = f.error_messages

.form_field{"data-role" => :fieldcontain}
  = f.label :content, 'Message'
  = f.text_area :content

= submit_tag 'Save', "data-icon" => :check, "data-theme" => :b
