- content_for :header do
  .header{"data-role" => :header, "data-position" => :fixed}
    %h1 Edit Comment

- form_for [challenge, challenge_comment] do |f|
  = render :partial => 'form', :locals => {:f => f}
