- title "Edit Comment"

- form_for :challenge_comment, :url => challenge_comment_path(@challenge, @challenge_comment), :html => { :method => :put } do |f|
  = render :partial => 'form', :locals => {:f => f}

