= render :partial => 'shared/email_top'

:plain
  From
  ----
= h(@challenge_comment.friend.name)

  
:plain
  Event
  -----
~ h(@challenge_comment.challenge.event.description)

  
:plain
  Message
  -------
~ h(@challenge_comment.content)

:plain
  See all comments
= challenge_comments_url(@challenge_comment.challenge)


= render :partial => 'shared/email_bottom', :locals => {:challenge_id => @challenge_comment.challenge.hashed_id}
