%p== You are invited to join the beta release of #{AppConfig[:domain]}!
%p
  %strong What is this?
  %br
  == #{AppConfig[:domain]} lets you issue friendly challenges to your buddies, and tell the world when you win! It's a fun, simple application that interacts with your Twitter account to keep the debate lively. Imagine challenging your colleague at work, or your best friend from college, to predict who will win the big football game this weekend. Or maybe you challenge a friend to a weight-loss challenge. #{AppConfig[:domain]} lets you track the progress of the challenge, post fun-loving updates to Twitter, and generally "talk smack" to your buddy. And when you ultimately win the challenge, you can scream it to the whole world!!

= link_to 'Click here to sign-up', @signup_url

